.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 1rem;
    height: 10vh;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.header__left {
    flex: 0.5;
    color: #fff;
}

.header__left h1 a {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.header__right {
    width: 300px;
}

.header__right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right ul li {
    list-style: none;
}

.header ul li a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}


/* Header responsive */

@media screen and (max-width: 768px) {
    .header__right {
        width: 230px;
    }
}