.todos__container {
    width: 80%;
    height: 85%;
    max-height: 85%;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.2);
}