.todos__container {
    width: 80%;
    height: 60%;
    max-height: 60%;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}